//GENERAL
$primary: #c4168c;
$secondary: #75746d;
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;900&display=swap");
// * {
//   box-sizing: border-box;
// }
// *,
// *::after,
// ::before {
//   box-sizing: border-box;
// }

html,
body {
  height: 100%;
}
body {
  font-family: "Source Sans Pro", sans-serif;
}
.text-primary {
  color: $primary !important;
}
.text-secondary {
  color: $secondary !important;
}

i {
  font-size: 30px;
}
a {
  font-size: 20px;
}

nav img {
  width: 30%;
  height: 30%;
}
